<!DOCTYPE html>
<html>
<head>
    <title>3Dynamik</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-container">
            <ul class="navbar-menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/contact">Contacto</a></li>
                <!-- Puedes agregar más enlaces según sea necesario -->
            </ul>
        </div>
    </nav>

    {{{body}}}

    <script src="/js/main.js"></script>
</body>
</html>

