<h1>Contacto</h1>
<p>Esta es la página de contacto.</p>
<form>
    <label for="name">Nombre:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="email">Correo electrónico:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="message">Mensaje:</label><br>
    <textarea id="message" name="message"></textarea><br>
    <input type="submit" value="Enviar">
</form>
<!-- Aquí puedes añadir más detalles de contacto o un formulario más detallado -->
