<div class="products-page">
    <h1>Nuestros Productos</h1>
    <div class="products-container">
        {{#each products}}
            <div class="product-item">
                <h3>{{this.name}}</h3>
                <p>{{this.description}}</p>
                <p>Precio: ${{this.price}}</p>
            </div>
        {{/each}}
    </div>
</div>

